
h1{ 
    color: rgb(179, 220, 236);
}
h2{
    color: rgb(241, 200, 200);
}
h3{
    color: rgb(235, 158, 224);
}
ul{
    color: #e58585;
}
li{
    color: #94a9ec;
}
h4{
    color: rgb(245, 201, 201);
}
table{
    color: rgb(147, 231, 154);
}
p{
    font: size 50px;color: #4b060e;;
}
body{
    background-color:whitesmoke;
}



    
